---
# set_fact
# {{ hostvars[inventory_hostname]['ansible_' + which_interface]['ipv4']['address'] }}
    - name: Rewrite site_name if in test environment.
      set_fact: drupal_site_name={{ site_name ~ local_test_environment|default('') }}

    - name: Create tuple list of sites.
      set_fact:
        drupal_sites_list: "{{[drupal_config.default|dictsort]|union([drupal_config.other_sites|default({})|dictsort])}}"

    - name: Setup Drupal
      include_tasks: drupal.yml
      tags: drupal

    - name: Clone custom drupal repositories
      include_tasks: custom.yml
      tags: custom

    - name: Create MySQL databases and copy and import to VM
      include_tasks: database.yml
      tags: database

    - name: Install sites with drush and copy all settings and config into place
      include_tasks: install.yml
      tags: settings

    - name: Setup permissions for development
      include_tasks: permissions.yml
      tags: permissions
