<VirtualHost *:80>
        ServerAdmin {{ server_admin_email }} 
        ServerName {{ item }}
        DocumentRoot {{ drupal_sites_dir }}/{{ item }}/
        <Directory {{ drupal_sites_dir }}/{{ item }}/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

</VirtualHost>

